package tmplts 

templ docLink(url string, text string) {
	<a
		href={ templ.SafeURL(url) }
		class="doc-link"
	>{ text }</a>
}

templ Documentation() {
	<div>
		<div style="width: 100vw; display: flex; justify-content: center;">
			<nav style="display: flex; justify-content: space-around; width: 70%;">
				@docLink("", "What's my ID?")
				@docLink("", "Lost your ID?")
				@docLink("", "Need you change your ID?")
				@docLink("", "How do I use this tool?")
			</nav>
		</div>
	</div>
}
