package tmplts 

templ docLink(url string, text string) {
	<a
		href={ templ.SafeURL(url) }
		class="p-1 m-2 no-underline text-black hover:underline"
	>{ text }</a>
}

templ Documentation() {
	<div>
		<div class="w-screen flex justify-center">
			<nav class="flex justify-around w-[70%]">
				@docLink("", "What's my ID?")
				@docLink("", "Lost your ID?")
				@docLink("", "Need you change your ID?")
				@docLink("", "How do I use this tool?")
			</nav>
		</div>
	</div>
}
