package tmplts 

templ Home() {
	<main>
		<div>
			<h1 class="text-5xl font-semibold">Welcome to Top Fetch!</h1>
			<h2 class="text-lg">Check your current top song from the terminal, the superior computer interface.</h2>
		</div>
		<a class="bg-pink-100 text-red-600" href={ templ.SafeURL("/sign-in") }>Sign In with Spotify</a>
	</main>
}
